version: '3.3'

services:
  api:
    build: .
    entrypoint: sh ./.docker/entrypoint.sh
    container_name: moviesdt3-api
    ports:
      - 3010:3010
    restart: always
    tty: true
    networks:
      - movies
    volumes:
      - .:/home/api
networks:
  movies:
    external: true
