version: '3.3'

services:
  api:
    build: .
    entrypoint: sh ./.docker/entrypoint.sh
    container_name: movies-api
    ports:
      - 3010:3000
    restart: always
    tty: true
    networks:
      - movies-api
    volumes:
      - .:/home/api
networks:
  movies-api:
    driver: bridge
